/*  1 - Integraçao */
h1 {
    color: red;
}

/* 2 - Comentários com CSS */

/* 3 - id */
h3 {
    color: green;
}

#title {
    color: blue;
}

/* 4 - classes - . */
.text {
    color: blueviolet;
}

/* 5 - background */
.background {
    background-color: red;
    color: blue;
    font-size: 30px;
}

/* 6 - dois elementos, uma regra */
p,
.title-small {
    color: darkmagenta;
}

/* 7 - background image */
.background {
    background-image: url("../img/saasweeklogo.png");
    padding: 20px;
    color: black;
}

.background-2 {
    background-color: green;
}

/* 8 - largura e altura */
#width-height {
    width: 200px;
    height: 100px;
    background-color: black;
}

/* 9 - padding */
#padding{
background-color: magenta;
padding: 20px;
}

/* 10 - margin */
#margin{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 20px;
}
/* 11 - border */
#border {
    border: 3px solid red;
    width: 100px;
    height: 100px;
    padding: 40;
    margin: 30px;
}
/* 12 - Border radius */
#border-radius{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 3px dashed blue;
    border-radius: 10px;
}

/* 13 - cores */
#rgb, 
#hsl, 
#hex {
    width: 50px;
    height: 50px;
    margin: 10px;
}
#hex{
    background-color: #0be200;
}
#rgb{
    background-color: rgb(123, 40, 99);
}
#hsl{
    background-color: hsl(242, 76%, 44%);
}
/* 14 - alinhamento */
#center{
    text-align: center;   
}
p{
    font-size: 25px;
}

/* 15 - decoration */
#underline {
    text-decoration: underline
}
#line{
    text-decoration: line-through;
}
#sem-underline{
    text-decoration: none;
}

/* 16 - font size */
#fonte-pequena {
    font-size: 10px;
}

/* 17 - trasform */
#upper {
    text-transform: uppercase;
}

#lower{
    text-transform: lowercase;
}

/* 18 - font family */
#serif{
    font-family: Georgia
}